extends layout

block content
  div.text-secondary
    ul
      li
        p Most of the demos are written in JavaScript. To see the implementation, use the developer tool of your web browser.
      li
        a(href="https://github.com/ZhujinLi") My Github