extends layout

block content
  div.text-center
    ul#subj-list.nav.nav-list.flex-column
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-frame-sync") Frame synchronization issues
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-skdlq-linkage") 《思考的乐趣》复现7. 连杆系统
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-skdlq-buffon") 《思考的乐趣》复现6. 蒲丰投针实验
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-skdlq-cwidth") 《思考的乐趣》复现5. 定宽曲线
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-skdlq-mandelbrot") 《思考的乐趣》复现4. Mandelbrot集
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-skdlq-eulerline") 《思考的乐趣》复现3. 欧拉线
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-skdlq-ekg") 《思考的乐趣》复现2. 心电图数列
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-skdlq-golden") 《思考的乐趣》复现1. 黄金分割
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-fib") Fibonacci number
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-oblique-text") 斜着看的文字
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-persp-vs-ortho") Perspective vs. orthographic
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-ndc") NDC curve
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-fov-and-zoom") FOV and zoom
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-fov-and-speed") FOV and speed
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-quaternion-interpolation") Quaternion interpolation
      li.nav-item
        a.nav-link.pl-0.pr-0(href="/subj-quaternions") Quaternion