doctype html
html
  head
    title a coder's view
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/common/style.css')
  body
    div#jumbotron.jumbotron.jumbotron-fluid.text-monospace
      div.container
        h1
          a(href="/") a coder's view

    div.container
      h2
        block subj-title
      block content

      if srcLink
        a.text-right(href= srcLink, target='_blank')
          p → view src

      hr
    
      ul.text-secondary.font-weight-light.list-unstyled
        li - My #[a(href="https://github.com/ZhujinLi") Github]
