doctype html
html
  head
    title fun_with_rtr
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.jumbotron.jumbotron-fluid.text-monospace(style={'padding-top': '40px', 'padding-bottom': '40px'})
      div.container
        h1 #[a(href="/" style={color: '#000000'}) fun_with_rtr]
        p Notes, thoughts and demos on my path of learning Real-Time Rendering.
    div.container
      div.row
        div.col-md-2
          ul.nav.nav-pills.flex-column(style="font-size: 13px")
            li.nav-item
              a.nav-link(href="/subj-quaternions") Quaternion
            li.nav-item
              a.nav-link(href="/subj-perspective") Perspective
            li.nav-item
              a.nav-link(href="/subj-oblique-text") 斜着看的文字
            li.nav-item
              a.nav-link(href="/subj-fib") Fibonacci number
            li.nav-item
              a.nav-link(href="/subj-skdlq") 《思考的乐趣》复现
        div.col-md-10
          h1.display-4.text-light.bg-secondary
            block subj-title
          block content
