doctype html
html
  head
    title a coder's view
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#jumbotron.jumbotron.jumbotron-fluid.text-monospace
      div.container
        h1
          a(href="/") a coder's view

    div.container
      h2
        block subj-title
      block content

      hr
    
      ul.text-secondary.font-weight-light.list-unstyled
        li - Most of the demos are written in JavaScript. To see the implementation, use the developer tool of your   web browser.

        li - My #[a(href="https://github.com/ZhujinLi") Github]
