doctype html
html

body
    h3 Quaternions

    p Quaternion is a tool for rotation around an arbitrary axis. Compared with rotation matrix, it is more compact in representation and more efficient when it comes to tasks like slerp. And it avoids the dreaded gimbal lock issue with Euler Angle.
    
    p Although quaternions were invented in 1843 as an extension to the complex numbers, it was not until 1985 that it was introduced to computer graphics.
    
    p Note that only with unit quaternions are we able to perform rotations, so make sure they are normalized when you use them.

    p Following is a demo:

    div(class="container")
        div(class="row" class="text-monospace")
            div(class="col-md-6 px-0", id="view-quat")
            div(class="col-md-3")
                h6 Axis
                div(class="row")
                    div(class="col-md")
                        input(type="range", class="custom-range", id="slider-axis-x")
                    div(class="col-md", id="label-axis-x")
                div(class="row")
                    div(class="col-md")
                        input(type="range", class="custom-range", id="slider-axis-y")
                    div(class="col-md", id="label-axis-y")
                div(class="row")
                    div(class="col-md")
                        input(type="range", class="custom-range", id="slider-axis-z")
                    div(class="col-md", id="label-axis-z")
                h6 Angle
                div(class="row")
                    div(class="col-md")
                        input(type="range", class="custom-range", id="slider-angle")
                    div(class="col-md", id="label-angle")
            div(class="col-md-3")
                h6 Quaternion
                div(id="label-quat-res")

    h3 Spherical linear interpolation

    p Spherical linear interpolation (slerp) is an operation that, given two unit quaternions, q and r, and a parameter t in the range[0, 1], computes an interpolated quaternion. Unlike conventional linear interpolation, it produces evenly distributed samples along the arc, which is rather important for animations.

    script(src="/javascripts/subj-quaternions.js", type="module")