extends layout

block subj-title
    p Quaternion

block content
    p Quaternion is a tool for rotation around an arbitrary axis. Compared with rotation matrix, it is more compact in representation and more efficient when it comes to tasks like slerp. Moreover, it avoids the dreaded gimbal lock issue with Euler Angle.
    
    p Although quaternions were invented in 1843 as an extension to the complex numbers, it was not until 1985 that it was introduced to computer graphics.
    
    p Note that only with unit quaternions are we able to perform rotations. Make sure they are normalized before you use them.

    div.row.text-monospace
        div.col-lg#view-quat
        div.col-lg
            h6 Angle
            div.row
                div.col-md
                    input.custom-range#slider-angle(type="range")
                div.col-md#label-angle
            h6 Axis
            div.row
                div.col-md
                    input.custom-range#slider-axis-x(type="range")
                div.col-md#label-axis-x
            div.row
                div.col-md
                    input.custom-range#slider-axis-y(type="range")
                div.col-md#label-axis-y
            div.row
                div.col-md
                    input.custom-range#slider-axis-z(type="range")
                div.col-md#label-axis-z
        div.col-lg
            h6 Quaternion(raw)
            p#label-quat-raw
            h6 Quaternion(unit)
            p#label-quat-unit

    p

    script(src="/js/subj-quaternions/main.js", type="module")

    h3 References

    ul
        li Model is from #[a(href="https://poly.google.com/view/bgUY8zN2Bq9") here]