extends layout

block subj-title
    p Perspective

block content
    p I thought I had known enough about the perspective projection. I was wrong.

    h3 FOV and speed

    p Here is an interesting fact about video games: when an object (like a car or a person) starts to accelerate, the FOV normally increases.

    div.row
        div.col-md
            video.video-fluid.z-depth-1(autoplay loop muted width="100%" height="auto")
                source(src="videos/fov-gta.mp4" type="video/mp4")
        div.col-md
            video.video-fluid.z-depth-1(autoplay loop muted width="100%" height="auto")
                source(src="videos/fov-spiderman.mp4" type="video/mp4")

    p

    p It seems that increasing FOV creates a sense of speed.
    
    p Or does it?

    p I'll write a demo to find out...

    div(style={"position": "relative"})
        div#gui-fov-cmp(style={"position": "absolute", "top": "10px", "left": "10px"})
        canvas#view-fov-cmp

    p

    p Here the car speed is at constant 120 km/h, and the camera keeps the same pose, so FOV is the only thing that changes. The conclusion is obvious.

    script(src="/js/subj-perspective.js", type="module")

    h3 References

    ul
        li RTR-3rd ch. 4.6