#jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub-title {
    font-size: 28px;
}

.hr-theme-slash-2 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.hr-theme-slash-2 .hr-line {
    width: 100%;
    position: relative;
    margin: 16px;
    border-bottom: 1px solid #000;
}

.hr-theme-slash-2 .l {
    margin-left: 0px;
}

.hr-theme-slash-2 .r {
    margin-right: 0px;
}

.hr-theme-slash-2 .hr-icon {
    position: relative;
    top: 0px;
    color: #ff0000;
}