extends /layout

block content
    a(href='/public/subjs/subj-skdlq-ekg/ekg.jpg' target="_blank")
        img.img-thumbnail.img-fluid(src="/public/subjs/subj-skdlq-ekg/ekg.jpg" style="height: 150px")

    a(href='/public/subjs/subj-skdlq-ekg/ekg1.jpg' target="_blank")
        img.img-thumbnail.img-fluid(src="/public/subjs/subj-skdlq-ekg/ekg1.jpg" style="height: 150px")

    p

    div(style="position: relative; width:80%")
        canvas#plot-ekg
        div.col-md-12.text-center
            button.btn.btn-primary#button-restart-ekg 重来
    
    p 就是有点心律不齐……

    script(src="/public/libs/chartjs/2.8.0/Chart.min.js")
    script(src="/public/subjs/subj-skdlq-ekg/main.js", type="module")