extends /layout

block subj-title
    p 《思考的乐趣》复现2. 心电图数列

block content
    a(href='images/skdlq/ekg.jpg' target="_blank")
        img.img-thumbnail.img-fluid(src="images/skdlq/ekg.jpg" style="height: 150px")

    a(href='images/skdlq/ekg1.jpg' target="_blank")
        img.img-thumbnail.img-fluid(src="images/skdlq/ekg1.jpg" style="height: 150px")

    p

    div(style="position: relative; width:80%")
        canvas#plot-ekg
        div.col-md-12.text-center
            button.btn.btn-primary#button-restart-ekg 重来
    
    p 就是有点心律不齐……

    script(src="/js/Chart.min.js")
    script(src="/subjs/subj-skdlq-ekg/main.js", type="module")