extends ../../layout

block content
    p Meanshift is an algorithm for finding the dentist area within an image, and has been widely used in computer vision applications such as object tracking and image segmentation. Its intuition is quite simple though. Have a try on the following demo and you'll get the idea.

    div#div-main
    script(src='./subj-meanshift.js' type='module')