extends ../../layout

block content
    p Here is a very simple sudoku generation algorithm:

    ol
        li#li-1
        hr
        li#li-2
        hr
        li#li-3
        hr
        li#li-4

    script(src="./subj-sudoku-gen.js", type="module")