extends ../../layout

block content
    p Minimum weight triangulation (MWT) is a polygon triangulation scheme that minimizes total edge length. It has been shown that the MWT is the best triangulation for 3D area interpolations, where inappropriate triangulations could lead to poor results, as is shown below:

    div(style={"position": "relative"})
        img.img-fluid(src="./bad.jpg" style="width: 400px")
        img.img-fluid(src="./good.jpg" style="width: 400px")
        p(style={"position": "absolute", "bottom": "0px", "left": "10px"}) bad triangulation
        p(style={"position": "absolute", "bottom": "0px", "left": "410px"}) good triangulation

    p

    p There is a dynamic programming algorithm that solves MWT for simple polygons (not only convex ones) with O(n^3) time and O(n^2) space complexity, as is described #[a(href="http://www.ist.tugraz.at/_attach/Publish/Eaa19/Chapter_04_MWT_handout.pdf") here]. Following is my implementation.

    div#div-main(style="border-style: solid; border-width: 1px; width: 800px;")

    p
        pre#label-weight

    button.btn.btn-primary#btn-new-shape New shape
    a  
    button.btn.btn-primary#btn-mwt MWT
    a  
    button.btn.btn-primary#btn-random Random triangulation

    script(src="./subj-mwt.js" type="module")