extends ../../layout

block content
    p 原博客在#[a(href="http://www.matrix67.com/blog/archives/3427" target='_blank') 这里]。

    p 我用GeoGebra复现了经典的波塞利连杆：

    iframe(src="./Peaucellier–Lipkin-linkage.ggb.html", frameborder="0", width="900", height="500")