doctype html

html
  head
    title Zhujin Li
    link(rel="stylesheet", href="/main.css")
    meta(charset="UTF-8")
  body
    pre
      code.
        {
            "name": "黎柱金/Zhujin Li",
            "sex": "M, straight",
            "location": "Beijing",
            "education": [
                "BS in computer science at BUAA, 2016"
            ],
            "profession": "graphics software engineer",
            "codingLanguages": [
                "C++",
                "JavaScript",
                "Python"
            ],
            "fieldsOfInterest": [
                "computer graphics",
                "computer vision"
            ],
            "academicPublications": "https://dblp.uni-trier.de/pers/hd/l/Li:Zhujin",
            "homepage": "https://zhujinli.github.io",
            "contact": "zhujin_li AT outlook DOT com"
        }

    script(src="node_modules/prismjs/prism.js" data-manual)