doctype html
html
  head
    title= head_title
    link(rel="shortcut icon" href="/demohut/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="/demohut/main.css")
    meta(charset="UTF-8")
  body
    div#jumbotron.jumbotron.jumbotron-fluid.text-monospace
      div.container(style="position: relative")
        h1
          a(href="/demohut/") DemoHut

    div.container
      if backLink
        form(action= backLink).text-right
          button.btn.btn-outline-primary(type='submit') ← all posts

      .display-4
        p= subj_title

      div#content
        block content

      .hr-theme-slash-2
        .hr-line.l
        .hr-icon
          a(href="https://zj-li.gitee.io")
            img(src='/demohut/res/home.png' height='32px')
        .hr-line.r

      p.text-center.text-secondary(style="font-size: 15px") The source code is hosted on #[a(href= srcLink, target="_blank") Github].

    script(src="/demohut/main.js" type="module")
