doctype html
html
  head
    title= head_title
    link(rel="stylesheet" href="/main.css")
    meta(charset="UTF-8")
  body
    div#jumbotron.jumbotron.jumbotron-fluid.text-monospace
      div.container(style="position: relative")
        h1
          a(href="/") DemoHut

    div.container
      if backLink
        form(action= backLink).text-right
          button.btn.btn-outline-primary(type='submit') ← all posts

      .display-4
        p= subj_title

      div#content
        block content

      if srcLink
        a.text-right(href= srcLink, target='_blank')
          p → view src

      .hr-theme-slash-2
        .hr-line.l
        .hr-icon
          a(href='https://www.cnblogs.com/xrst')
            img(src='/links/cnblogs.png' height='32px')
        .hr-icon
          a(href='http://jsrun.net/u/zjli')
            img(src='/links/jsrun.png' height='32px')
        .hr-icon
          a(href='https://github.com/ZhujinLi')
            img(src='/links/github.png' height='32px')
        .hr-icon
          a(href='https://www.shadertoy.com/user/zjli')
            img(src='/links/shadertoy.png' height='32px')
        .hr-line.r

    script(src="/main.js" type="module")
