@font-face {
    font-family: 'OpenSans';
    src: url('./OpenSans-Regular.ttf');
}

html {
    font-family: OpenSans, Helvetica, Simsun;
}

#jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

#subj-list {
    font-size: 17px;
}

.sub-title {
    font-size: 28px;
}

.hr-theme-slash-2 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.hr-theme-slash-2 .hr-line {
    width: 100%;
    position: relative;
    margin: 16px;
    border-bottom: 1px solid #000;
}

.hr-theme-slash-2 .l {
    margin-left: 0px;
}

.hr-theme-slash-2 .r {
    margin-right: 0px;
}

.hr-theme-slash-2 .hr-icon {
    position: relative;
    top: 0px;
    color: #ff0000;
}

.hr-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.blockquote {
    font-family: Georgia, serif;
    font-size: 16px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

.blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

.blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.blockquote cite:before {
    content: "\2014 \2009";
}
